## PANDAS-PROFILING

In [2]:
import pandas as pd
pp = pd.read_csv('ucl_stats.csv')

In [3]:
pp.head()

,team,champion,runner_up,seasons_won,seasons_runnerup
0,Real Madrid,15,3,"1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000...","1962, 1964, 1981"
1,Milan,7,4,"1963, 1969, 1989, 1990, 1994, 2003, 2007","1958, 1993, 1995, 2005"
2,Bayern Munich,6,5,"1974, 1975, 1976, 2001, 2013, 2020","1982, 1987, 1999, 2010, 2012"
3,Liverpool,6,4,"1977, 1978, 1981, 1984, 2005, 2019","1985, 2007, 2018, 2022"
4,Barcelona,5,3,"1992, 2006, 2009, 2011, 2015","1961, 1986, 1994"

In [4]:
from ydata_profiling import ProfileReport
prof = ProfileReport(pp)
prof.to_file(output_file='ucl_stats.html')

C:\Users\Jainil\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Summarize dataset:  20%|█████▍                     | 2/10 [00:00<00:00, 30.81it/s, Describe variable: seasons_runnerup]
100%|███████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 226.96it/s]
Summarize dataset: 100%|████████████████████████████████████████████████████| 18/18 [00:01<00:00, 17.44it/s, Completed]
Generate report structure: 100%|█████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.61s/it]
Render HTML: 100%|███████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.23it/s]
Export report to file: 100%|█████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 39.20it/s]