# **ColumnTransformer**

**So far, One-Hot Encoding has been applied manually using Pandas and NumPy.**
**While this helps understand the concept, it becomes difficult to manage when:**

**Different columns require different preprocessing**

**Train and test data must be handled consistently**

**The preprocessing steps need to be reused or deployed**

**To solve these problems, Scikit-learn provides ColumnTransformer, which allows applying different transformations to different columns in a single, unified pipeline.**

**--Limitations of Manual Encoding**

1) Manual use of pd.get_dummies() and np.hstack():
2) Risks data leakage
3) Requires repeated code for train and test data
4) Does not scale well for production
5) Hard to track feature order and column alignment

**What ColumnTransformer Solves**

ColumnTransformer enables feature-wise preprocessing, where:

Categorical columns can be one-hot encoded

Numerical columns can be passed through or scaled

All preprocessing is fit only on training data

The same transformations are applied to test data automatically

In [4]:
import numpy as np
import pandas as pd

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

here we import **SimpleImputer** its work for

**Purpose**: Fill in missing values in your dataset so your machine learning models don‚Äôt break.

**üîπ How it Works**

Looks for missing values (NaN, or a specific placeholder)

Replaces them with a strategy value:

mean ‚Üí replace with the average (numeric)

median ‚Üí replace with the median (numeric)

most_frequent ‚Üí replace with the most common value (categorical)

constant ‚Üí replace with a fixed value you provide

**Example**
from sklearn.impute import SimpleImputer

For numeric columns: replace NaN with mean\
**imputer = SimpleImputer(strategy='mean')**

Fit on training data\
**imputer.fit(X_train[['age', 'salary']])**

Transform training and test data\
**X_train[['age', 'salary']] = imputer.transform(X_train[['age', 'salary']])**\
**X_test[['age', 'salary']] = imputer.transform(X_test[['age', 'salary']])**

# Example through real data

In [6]:
df = pd.read_csv('covid_toy.csv')

In [7]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [8]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [10]:
X_train

    age  gender  fever   cough       city
86   25    Male  104.0    Mild  Bangalore
8    19  Female  100.0  Strong  Bangalore
48   66    Male   99.0  Strong  Bangalore
45   72    Male   99.0    Mild  Bangalore
89   46    Male  103.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
94   79    Male    NaN  Strong    Kolkata
72   83  Female  101.0    Mild    Kolkata
87   47    Male  101.0  Strong  Bangalore
1    27    Male  100.0    Mild      Delhi
47   18  Female  104.0    Mild  Bangalore

[80 rows x 5 columns]

# so we are manually doing encoding without ColumnTransformer

In [11]:
# adding simple imputer to fever col
si = SimpleImputer()  # default strategy='mean'
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
                                 
X_train_fever.shape

(80, 1)

In [12]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [13]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [14]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [15]:
X_train_gender_city   # here fist col. is male bcz famale col. is dropped same for city , city has a 4 col. 1 dropped 3 remining total 3+!=4
           # column are [male,delhi,calcutta,mumbai]

array([[1., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 0., 0.]])

In [16]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [17]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

#  Using ColumnTransformer

In [18]:
from sklearn.compose import ColumnTransformer

In [19]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough') 
#remainder='passthrough' tells the transformer:
#‚ÄúFor any column I didn‚Äôt explicitly list, just leave it as it is and include it in the output.‚Äù
#They are passed through unchanged.

Components:

SimpleImputer ‚Üí handles missing numeric values.

OrdinalEncoder ‚Üí converts ordered categories (Mild < Strong) into integers.

OneHotEncoder ‚Üí converts categorical variables into dummy variables (with drop='first' to avoid multicollinearity).

remainder='passthrough' ‚Üí all columns not mentioned are left as-is.

In [20]:
transformer.fit_transform(X_train).shape

(80, 7)

In [21]:
transformer.transform(X_test).shape

(20, 7)